<a href="https://colab.research.google.com/github/SarangWanodei20/Sarang-Wanode/blob/main/Practice_Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 3: SQL for Data Analysis

a. Basic SELECT with WHERE, ORDER BY, GROUP BY

In [ ]:
-- Select all users who signed up after Jan 1, 2024, ordered by date
SELECT user_id, name, created_at
FROM users
WHERE created_at > '2024-01-01'
ORDER BY created_at DESC;

In [ ]:
-- Count number of orders per user
SELECT user_id, COUNT(order_id) AS total_orders
FROM orders
GROUP BY user_id
ORDER BY total_orders DESC;

Step 1: Create Tables

In [ ]:
-- USERS
CREATE TABLE users (
    user_id INT PRIMARY KEY,
    name VARCHAR(100),
    email VARCHAR(100),
    created_at DATE
);

-- PRODUCTS
CREATE TABLE products (
    product_id INT PRIMARY KEY,
    name VARCHAR(100),
    category VARCHAR(50),
    price DECIMAL(10, 2)
);

-- ORDERS
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    user_id INT,
    order_date DATE,
    total_amount DECIMAL(10, 2),
    FOREIGN KEY (user_id) REFERENCES users(user_id)
);

-- ORDER ITEMS
CREATE TABLE order_items (
    order_item_id INT PRIMARY KEY,
    order_id INT,
    product_id INT,
    quantity INT,
    price DECIMAL(10, 2),
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);

b. Use JOINS (INNER, LEFT, RIGHT)

In [ ]:
-- Inner join to get order details with user info
SELECT o.order_id, u.name, o.order_date, o.total_amount
FROM orders o
INNER JOIN users u ON o.user_id = u.user_id;

In [ ]:
-- Left join to find users who haven't made any orders
SELECT u.user_id, u.name
FROM users u
LEFT JOIN orders o ON u.user_id = o.user_id
WHERE o.order_id IS NULL;

Step 2: Insert Sample Data

In [ ]:
-- USERS
INSERT INTO users VALUES
(1, 'Alice', 'alice@example.com', '2024-01-10'),
(2, 'Bob', 'bob@example.com', '2024-03-15'),
(3, 'Charlie', 'charlie@example.com', '2023-11-20');

-- PRODUCTS
INSERT INTO products VALUES
(1, 'Laptop', 'Electronics', 1200.00),
(2, 'Mouse', 'Electronics', 25.00),
(3, 'Book', 'Books', 15.00);

-- ORDERS
INSERT INTO orders VALUES
(101, 1, '2024-02-01', 1225.00),
(102, 2, '2024-03-20', 40.00),
(103, 1, '2024-04-01', 15.00);

-- ORDER ITEMS
INSERT INTO order_items VALUES
(1, 101, 1, 1, 1200.00),
(2, 101, 2, 1, 25.00),
(3, 102, 2, 1, 25.00),
(4, 102, 3, 1, 15.00),
(5, 103, 3, 1, 15.00);

c. Write Subqueries
sql
Copy
Edit

In [ ]:
-- Get users who spent more than the average total amount
SELECT name, user_id
FROM users
WHERE user_id IN (
    SELECT user_id
    FROM orders
    GROUP BY user_id
    HAVING SUM(total_amount) > (
        SELECT AVG(total_amount) FROM orders
    )
);

Step 3: Queries with Outputs

a. Basic SELECT, WHERE, ORDER BY

In [ ]:
-- Users who joined after Jan 1, 2024
SELECT * FROM users
WHERE created_at > '2024-01-01'
ORDER BY created_at;

b. JOINs

In [ ]:
-- Orders with user names
SELECT o.order_id, u.name, o.total_amount
FROM orders o
JOIN users u ON o.user_id = u.user_id;

c. Subquery

In [ ]:
-- Users who spent more than average total order amount
SELECT name FROM users
WHERE user_id IN (
    SELECT user_id FROM orders
    GROUP BY user_id
    HAVING SUM(total_amount) > (
        SELECT AVG(total_amount) FROM orders
    )
);

d. Aggregate Function

In [ ]:
-- Total revenue per category
SELECT p.category, SUM(oi.quantity * oi.price) AS total_revenue
FROM order_items oi
JOIN products p ON oi.product_id = p.product_id
GROUP BY p.category;

e. Create View

In [ ]:
-- Create a view for user spending
CREATE VIEW user_spending AS
SELECT user_id, SUM(total_amount) AS total_spent
FROM orders
GROUP BY user_id;

-- Query the view
SELECT * FROM user_spending;

f. Optimize Query (Index)

In [ ]:
-- Add index to improve performance
CREATE INDEX idx_user_id ON orders(user_id);

 Interview Questions & Answers

1. What is the difference between WHERE and HAVING?

WHERE filters rows before aggregation.

HAVING filters groups after aggregation (used with GROUP BY).

2. What are the different types of joins?

INNER JOIN: only matching rows

LEFT JOIN: all rows from left + matches from right

RIGHT JOIN: all rows from right + matches from left

FULL OUTER JOIN: all rows from both, matched or not (not supported in MySQL directly)

3. How do you calculate average revenue per user in SQL?
See the subquery under (d) above:

sql
Copy
Edit
SELECT AVG(user_total) FROM (SELECT user_id, SUM(total_amount) AS user_total FROM orders GROUP BY user_id) AS user_revenues;
4. What are subqueries?

A subquery is a query inside another query, used to filter, aggregate, or return values needed by the main query.

5. How do you optimize a SQL query?

Use indexes on frequently joined or filtered columns

Avoid SELECT *

Use EXPLAIN to analyze query performance

Use proper data types

Limit rows when not needed

6. What is a view in SQL?

A virtual table defined by a query. Used for simplifying complex queries, improving readability, or security.

7. How would you handle null values in SQL?

Use IS NULL / IS NOT NULL in conditions

Use COALESCE(column, default) to substitute nulls

Use NULLIF() to handle special cases in calculations